= link_to admin_notification_path(notification), id: "notification_#{notification.id}", data: { turbo: false }, class: "block px-4 py-3 hover:bg-gray-50 transition-colors #{notification.unread? ? 'bg-blue-50/30' : ''}" do
  .flex.items-start
    .flex-shrink-0.pt-1
      %span.inline-flex.items-center.justify-center.w-8.h-8.rounded-full{ class: notification.unread? ? "bg-blue-100 text-blue-600" : "bg-gray-100 text-gray-500" }
        - if notification.title.include?('Vendor')
          %i.fas.fa-user
        - elsif notification.title.include?('Car')
          %i.fas.fa-car
        - else
          %i.fas.fa-bell
    .ml-3.w-0.flex-1
      %p.text-sm.font-medium.text-gray-900
        = notification.title
        - if notification.unread?
          %span.inline-block.ml-1.w-2.h-2.bg-blue-600.rounded-full
      %p.text-sm.text-gray-500.mt-1
        = notification.message
      %p.text-xs.text-gray-400.mt-1
        = time_ago_in_words(notification.created_at)
        ago
