.w-full.mt-3.bg-white.rounded-t-xl.flex.items-center.justify-center.gap-8.py-4.shadow-sm.border-b.border-gray-100
  = link_to 'Dashboard', vendors_dashboard_path, class: 'font-semibold px-4 py-2 rounded-lg hover:bg-gray-50 transition-all duration-200', style: 'color: #3a6363'
  = link_to 'Bookings', vendors_bookings_path, class: 'font-semibold px-4 py-2 rounded-lg hover:bg-gray-50 transition-all duration-200', style: 'color: #3a6363'
  = link_to 'My Cars', vendors_cars_path, class: 'font-semibold px-4 py-2 rounded-lg hover:bg-gray-50 transition-all duration-200', style: 'color: #3a6363'
  = link_to 'All Cars', cars_path, class: 'font-semibold px-4 py-2 rounded-lg hover:bg-gray-50 transition-all duration-200', style: 'color: #3a6363'
  = link_to 'My Invoices', vendors_invoices_path, class: 'font-semibold px-4 py-2 rounded-lg hover:bg-gray-50 transition-all duration-200', style: 'color: #3a6363'
  = link_to 'Payments', vendors_payments_path, class: 'font-semibold px-4 py-2 rounded-lg hover:bg-gray-50 transition-all duration-200', style: 'color: #3a6363'
  = link_to 'Profile', vendor_path(current_vendor), class: 'font-semibold px-4 py-2 rounded-lg hover:bg-gray-50 transition-all duration-200', style: 'color: #3a6363'
%hr.border-t.mb-8{style: 'border-color: #3a6363'}
