<h1>Welcome to WheelsOnRent!</h1>
<p>Hello <strong><%= @vendor.first_name %> <%= @vendor.last_name %></strong>,</p>
<p>You have been invited to join WheelsOnRent as a vendor. Here are your login credentials:</p>
<ul>
  <li><strong>Email:</strong> <%= @vendor.email %></li>
</ul>
<p>Please click the link below to create your account:</p>
<p><a href="<%= @login_url %>"><%= @login_url %></a></p>
<p>After creating your account, you can start listing your cars to the platform.</p>
<p>Best regards,<br>WheelsOnRent Team</p> 