!!! 5
%html
  %head
    %title CarRental
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css", rel: "stylesheet" }
    %script{ src: "https://cdn.tailwindcss.com" }
    %script{ src: "https://js.stripe.com/v3/", defer: true }
    = javascript_importmap_tags
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
  %body.bg-white.text-gray-900
    %header{ role: "banner" }
      = render 'layouts/navbar'
    %main{ role: "main" }
      = yield
    %footer{ role: "contentinfo" }
      - if content_for?(:footer)
        = yield :footer

